<div class='app-header'>
  <h1 class='title-screen'> Budget app </h1>
  <p  class='title-intro'>Welcome to your budgeting App </p>
</div>
<div class='welcome-intro'>
<div class='welcome-login'>
    <p>Please You can login to get started!</p>
    <button>Login</button>
</div>
<p class='welcome-login'>OR</p>
<div class='welcome-login'>
    <p>Sign up if you do not have an account yet!</p>
    <button>Sign up</button>
</div>
</div>
